html{
	font-family: Arial;
}
body{
	margin: 0;
	line-height: 1.5;
}
#pseudo-body{
	font-family: Arial;
	margin: 0;
	line-height: 1.5;
}
p{
	text-align: center; 
}
h1, h2{
	margin: auto;
	margin-bottom: .5rem;
	display: table;
	text-align: center;
}
.detail{
	border-bottom: 2px dotted;
}
.container{
 	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5%;
	padding-left: 1.5%;
	max-width: 960px;
}
.title-box{
	padding: 4% 1.5%;
	background:#283055;
	color:#FFFFFF;
}
#disclaimer{
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
h1.main-header{
	align-items: baseline;
	font-size: 2.375rem;
	font-weight: 500;
	margin-bottom:0;
	}
	h1.main-header > sup{
		font-size: 75%;
		position: relative;
		line-height: 0px;
		top: .2rem;
		left: .2rem;
}
h2.sub-header{
	font-weight: 500;
	font-size: 2rem;
}
table.lined-table{
	margin-top: 3%;
	border-collapse: collapse;
	}
	table.lined-table > tbody > tr{
		border-style: solid none;
		border-width: 2%;
		border-color: #000258;
		border-collapse: collapse;
		}
		table.lined-table > tbody > tr > td{
			padding-top: 1.7%;
}
hr.line{
	height:0.1%;
	width:40%;
	background:#283055;
	border-top-width: .2rem;
	border-style: none;
	border-top-style: solid;
	font-weight: 400;
}
.taho{
	font-family: Tahoma;
	font-weight: bold;
	margin: 0 5%;
}
.sfont{
	font-size: 0.875rem;
}
.ssfont{
	font-size: 0.75rem;
}
.sssfont{
	font-size: 0.625rem;
}
ul.bulleted-list{
	margin: 3% 10%;
	font-size: 1.125rem;
	font-weight: 600;
	color: rgb(39, 60, 44);
	line-height: 1.5;
	overflow-wrap: break-word;
}
.PartList{
	max-width: 100%;
	overflow-wrap: break-word;
	font-weight: 600;
	color: rgb(39, 60, 44);
	line-height: 1.5;
}
.PartList div{
	margin-bottom: 1%;
	break-inside: avoid-column;
}
.PartList dd{
	display: list-item;
	margin-left: 5%;
}
@media screen and (max-width: 992px){
	.PartList{
		column-count: 1;
	}
	.PartList dt, .bulleted-list{
		font-size: 1rem;
	}
	.PartList dd{
		font-size: 0.875rem;
	}
	html,#pseudo-body{
		font-size: 14pt;
	}
}
@media screen and (min-width: 993px){
	.PartList{
		column-count: 2;
	}
	.PartList dt, .bulleted-list{
		font-size: 1.125rem;
	}
	.PartList dd{
		font-size: 1rem;
	}
	html,#pseudo-body{
		font-size: 16pt;
	}
}
.center{
	display: flex; 
	justify-content: center;
}
*, ::after, ::before{
	box-sizing: border-box;
}
